/* General Styles for the Events Section */
.events-section{
  background-color:rgb(51,51,51);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.events-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

Styles for individual event cards
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafaff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.event-card h3 {
  color: #fafaff;
  margin: 0 0 10px 0;
}

.event-card p {
  color: #9cab8d;
  margin: 5px 0;
}

.event-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.event-card button:hover {
  background-color: #45a049;
}

/* Styles for the list of events you are going to */
.going-events {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
}

.going-events h3 {
  margin-bottom: 10px;
}

.going-events p {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
  border-left: 5px solid #4CAF50;
}

.events-list {
  display: flex;
  gap: 20px;
}

.event-card {
  cursor: pointer;
  overflow: hidden; /* Ensures the expandable content animates cleanly */
}

.additional-info {
  margin-top: 10px;
}

.additional-info img {
  width: 100%; /* Ensure the image fits within the card */
  height: auto;
  border-radius: 8px;
}

/* El Fante's fixes */
/* bring footer to bottom */
.footer {
  position: relative;
  bottom:0px;
  color:#ddd;
  background-color: #212529;
  
}

/* make all containers flex, wrap and centered */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

/* wrap team member pics */
#team .row {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.team-member {
  max-width: 100%;
  height:auto;
}

/* Fix Header Img Row */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  
}

.portfolio img{
  width:  100%;
  height: 20em;
  object-fit: cover;
}

/* chatbot */
.message.user {
  color: yellow;
  padding: 10px;
  text-decoration: wavy;
}
.message.bot {
  color:#DDD;
  text-align: justify;
}
.reset-button {
  background-color: #212529;
  color: #AAA;
  margin:2px;
}
